.login-container {
  background-color: #033021; 
  border-radius: 20px; 
  padding: 50px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  text-align: center; /* Centers content horizontally */
  /* Ensure there's no default padding/margin that could offset your content */
}

.white-text {
  color: white; 
}

.green-text {
  color: #2E9C45; 
}

.white-line {
  border-top: 1px solid #ffffff; 
  width: 100%;
}

.mainLogo {
  display: inline-block; /* Allows for centering in the parent */
  width: 100%; /* Takes full width to allow image to be responsive */
  margin-top: 20px; /* Adjust as needed for space above the logo */
  margin-bottom: 50px;
}

.mainLogo img {
  max-width: 30%; /* Ensures the image is responsive and doesn't overflow */
  height: auto; /* Keeps the aspect ratio of the image */
  display: block; /* Stops any inline spacing issues */
  margin: 0 auto; /* Centers the image within .mainLogo */
}