
.user-details {
    display: flex;
    flex-direction: row; /* Align children side by side */
    justify-content: space-between; /* Space between the card and navbar */
    align-items: flex-end; /* Align items at the end (bottom) */
    gap: 20px; /* Optional: Adds some space between the card and navbar */
}

.profileEdit {
    flex: 1;
    margin-top: 20px;
    max-width: 30%;
}

.navbar-container {
    flex: 2; /* Allows the navbar to grow and take up necessary space */
}

.profileAvatar {
    border-radius: 50%; /* Make the image circular */
    width: 300px; /* Set width */
    height: 300px; 
    object-fit: cover; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

