
.helpRequestContainer {
    max-width: 1600px; 
    margin: auto;
}
.helpRequestInsideContainer {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}
.helpRequestCard {
    padding: 0;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.helpRequestBody {
    background-color: white;
}

.helpRequestHeader {
    background-color: #cefad0;
    display: flex;
    padding-bottom: 0px;
    height: 45px;
}
.helpRequestHeader p{
    padding-left: 15px;
    font-weight: 800;
}