.title.container {
    display: flex; /* Enables Flexbox layout */
    justify-content: space-between; /* Aligns children to each end */
    align-items: center; /* Centers items vertically */
    margin-top: 20px;
    background-color: #f8f9fa;

}

.title.container h1 {
    font-size: 30px;

}

.title.container a {
    font-size: 20px;
    background-color: #2E9C45;
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-block;

}

.plantcard {
    margin: 20px 0 20px 0;
    
}

.card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-title {
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: medium;
    padding-left: 5px;
    padding-top: 5px;
    height: 3.5em; 
    overflow: hidden; 
}

.card-text {
    padding-left: 5px;
    padding-bottom: 10px;
    min-height: 3em; 
}

.plantcard img {
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.plantcard .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;

}

.requestcard {
    border-radius: 10px;
    height: 200px;
    margin: 20px 0 20px 0;
  }
  
.requestcard .card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    height: 100%;
}

.card-footer {
    background-color: #f8f9fa; /* Matches the default footer color or choose your own */
    border-top: 1px solid #e9ecef; /* Adds a slight border to the top of the footer for separation */
  }

  .card-header {
    display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Space between items, pushing the close button to the right */
    align-items: center; /* Vertically align items in the middle */
    background-color: #cefad0;
  }

 

@media (min-width: 1350px) {
    .plantcard .col {
      flex: 0 0 calc(20% - 10px); 
      max-width: calc(20% - 10px); 
    }
  }
  
  @media (max-width: 1349px) {
    .plantcard {
      display: flex;
      flex-wrap: wrap;
    }
  
    .plantcard .col {
      flex: 0 0 calc(25% - 10px); 
      max-width: calc(25% - 10px);
    }
    
  
    .plantcard .col:nth-child(5) {
      flex: 0 0 100%; 
      max-width: 24%;
    }
    
  
    .plantcard .col:nth-child(5) > .card {
      margin-left: auto;
      margin-right: auto;
    }
  }