.page-container {
    display: flex;
    flex-direction: column;
    min-height: 56vh; 
    justify-content: space-between; 
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.content-width {
    width: 80%;
}

.logo-container {
    margin-right: 70px;
    margin-top: 20px
}
