
.details-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-top: 20px; /* Adjust the gap between navbar and content */
}

.details-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}