nav {
    background-color: #2e9c45;
    box-shadow: 0px 0px 5px black;
}

.container {
    padding: 0px;
}

.navbar-brand {
    color: #fdfdfd !important;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link {
    color: #fdfdfd !important;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  