nav {
    background-color: #2e9c45;
    box-shadow: 0px 0px 5px black;
}

.container {
    padding: 0px;
}

.navbar-nav {
    margin-right: 0 !important;
    margin-left: auto !important;
}

.me-auto {
    margin-right: 0 !important;
}