footer {
    text-align: center;
    background-color: rgb(248, 249, 250);
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    position: sticky;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 5px black;
    margin-top: 50px;
}

footer p {
    margin: 0;
    color: black;
}