.button-spacing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.table-container {
    background: #f7f4f4;
    border: 3px solid #CEFAD0;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 0px;
}

Table {
    text-align: center !important;
    border-collapse: separate;
    border-spacing: 10px;
}

th {
    border: 1px solid #CEFAD0 !important;
    background-color: #CEFAD0 !important;
    color: black !important;
    border-radius: 5px;
}

td {
    border: 1px solid white;
    border-radius: 5px;
    vertical-align: middle;
}

td .btn-border {
    border: 0px !important;
}

.btn-styling {
    padding: 0px !important;
    margin: 0px !important;
}

.user-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.user-icon-container {
    width: 35px;
    /* Adjust the width as needed */
    height: 35px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Add this line */
    padding: 5px;
}

.user-text-align {
    top: 50% !important;
}
