.nav-bar-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.spacing {
    text-align: center !important;
    justify-content: space-around;
}

.btn-format {
    font-weight: 700;
    font-size: 1.5rem;
}

.btn-format-active {
    background: #CEFAD0 !important;
    color: black !important;
}

.btn-format-inactive {
    background: #BDBDBD !important;
}

.btn-format-inactive:hover {
    background: #696969 !important;
}
