.spacing {
    text-align: center !important;
    justify-content: space-around;
}

.btn-format {
    font-weight: 700;
    font-size: 1.5rem;
}

.btn-format {
    background: #BDBDBD !important;
}

.btn-format:hover {
    background: #696969 !important;
}
