.signup-container {
    background-color: #033021; 
    border-radius: 20px; 
    padding: 50px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body, .app-container {
    background-color: #FFF2D1;
    min-height: 100vh; 
}

.white-text {
    color: white; 
}
