
.user-details {
    display: flex;
    justify-content: space-between; /* Space between the card and navbar */
    gap: 20px; /* Optional: Adds some space between the card and navbar */
    max-width: 1390px;
    padding-top: 30px;
    position: relative;
}

.profileEdit {
    width: 30%;
}
.profileEdit .card {
    border: none; 
}

.image-container {
    position: relative;
    width: 168px; /* Adjust the width to your image size */
    height: 168px; /* Adjust the height to your image size */
    margin: 0 auto; /* Centers the container */
}


.profileAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.edit-picture-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: #2e9c45;
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: for better visibility */
    width: 40px; /* Size of the button */
    height: 40px; /* Size of the button */
    padding: 0; /* Remove padding to keep it circular */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(10%, 0%); /* Adjust position to hang off the bottom right corner */
}

.edit-picture-btn:hover {
    background-color: green;
}

.edit-picture-btn i {
    font-size: 20px; /* Adjust the size of the icon */
}

.potted-image {
    display: flex; /* Use flex to center content, if needed */
    justify-content: center;
    align-items: center; /* Center vertically, if there's any content */
    background: url('https://res.cloudinary.com/dououppib/image/upload/v1709758337/PLANTS/pb_yxwurp.png') center/cover no-repeat;
    width: 100%; /* Full width */
    height: 350px; /* Height is automatic */
}

.potted-image img {
    object-fit: cover;
    aspect-ratio: 4 / 3;

}

.navbar-container {
    flex: 2; /* Allows the navbar to grow and take up necessary space */
    width: 70%;
}

.card-img-top {
    display: flex; /* Enables flexbox properties */
    align-items: center; /* Centers the content vertically */
    justify-content: center; /* Centers the content horizontally */
    height: 300px; /* Fixed height, adjust based on your design needs */
    
}


/* Modal Styling */
.modal-content {
    background-color: #f8f9fa; /* Light background for the modal */
    border-radius: 8px; /* Rounded corners for the modal */
    border: 1px solid #dee2e6; /* Light border for the modal */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.modal-header {
    border-bottom: 1px solid #dee2e6; /* Light border for the header */
    background-color: #e9ecef; /* Slightly different background for the header */
    border-top-left-radius: 8px; /* Match modal border radius */
    border-top-right-radius: 8px; /* Match modal border radius */
}

.modal-title {
    color: #495057; /* Darker text for contrast */
    font-weight: 700; /* Medium font weight */
}

.modal-body {
    justify-content: space-between; /* Positions items to have space between them */
    align-items: center; /* Aligns items vertically in the center */
    padding: 20px;

}

.modal-body .modal-row {
    align-items: center; /* Align items vertically */   
}

.modal-body .input-container {
    padding-left: 10px;
    display: flex; /* Flexbox for internal alignment */
    justify-content: space-between; /* Space between text/input and button */
    width: 100%;
    padding-left: 0;
}

.modal-body .text {
    font-size: 18px; /* Large font size for visibility */
}
.modal-body .edit-btn {
    color: beige;
    background-color: #495057;
}

.modal-body .edit-input {
    display: block; /* Show the input field */
    width: 80%; /* Take 80% of the container width */


}

.modal-body h3 {
    font-size: 15px;
    font-weight: 700;
    color: #495057; 
}

.modal-footer {
    border-top: 1px solid #dee2e6; /* Light border for the footer */
    background-color: #f8f9fa; /* Match modal background */
    border-bottom-left-radius: 8px; /* Match modal border radius */
    border-bottom-right-radius: 8px; /* Match modal border radius */
}

/* Buttons Styling inside Modal */
.modal-footer .btn {
    border-radius: 20px; /* Rounded buttons */
    
}

.modal-footer .btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    border-color: #007bff; /* Border color to match */
}

.modal-footer .btn-secondary {
    background-color: #6c757d; /* Bootstrap secondary color */
    border-color: #6c757d; /* Border color to match */
}

.saveChangesButton {
    background-color: #2E9C45 !important;
    border-color: #2E9C45 !important;
}


.saveChangesButton:hover {
    background-color: green !important;
 
}


.navbar-container .navbar {
    padding: 0.5rem 1rem; /* Reduced padding for a slimmer navbar */
    background-color: #ffffff; /* Light background for the navbar */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Subtle shadow for depth */
    position: relative;
}

/* Navbar Brand and Items Styling */
.navbar-container .navbar-brand,
.navbar-container .navbar-nav .nav-link {
    color: #007bff !important; /* Brand and link color for visibility */
}

/* Active Link Styling */
.navbar-container .navbar-nav .nav-link.active {
    font-weight: bold; /* Bold for active link */
}

/* Adjusts navbar to grow properly */
.navbar-container {
    justify-content: center; /* Center navbar items */
    width: 100%; /* Ensure it takes full width as intended */
}

.edit-profile-button {
    background-color: #2e9c45;
    border-color: #2e9c45;
    color: white;
}
.edit-profile-button:hover {
    background-color: green;
}


@media (max-width: 1199px) {
    .user-details {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .potted-image {
        order: 1;
        width: 100%;
        position: relative; 
        z-index: 0; 
    }


    .image-container {
        order: 2;
        z-index: 2; 
        position: absolute;
        top: -50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        margin-top: -84px; 
        width: 168px; 
        height: 168px; 
    }

    .navbar-container {
        order: 3;
        width: 100%;
        z-index: 1; 
    }

    .profileEdit {
        order: 4;
        width: 100%;
        margin-top: 20px; 
    }
}
